RewriteEngine On

RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME}\.html -f
RewriteRule ^([^\.]+)$ $1.html [NC,L]

ErrorDocument 400 /index.html
ErrorDocument 401 /index.html
ErrorDocument 403 /index.html
ErrorDocument 404 /index.html
ErrorDocument 405 /index.html
ErrorDocument 408 /index.html
ErrorDocument 410 /index.html
ErrorDocument 500 /index.html
ErrorDocument 501 /index.html
ErrorDocument 502 /index.html
ErrorDocument 503 /index.html
ErrorDocument 504 /index.html

DirectoryIndex index.html
